In [22]:
from pandas_datareader import data as pdr
from datetime import datetime
import fix_yahoo_finance as yf

In [65]:
start = datetime(2019,1,1)
end = datetime(2022,1,31) 

df = pdr.DataReader('AAPL', 'yahoo', start, end) 

df.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2022-01-25,162.759995,157.020004,158.979996,159.779999,115798400.0,159.576691
2022-01-26,164.389999,157.820007,163.500000,159.690002,108275300.0,159.486801
2022-01-27,163.839996,158.279999,162.449997,159.220001,121954600.0,159.017410
2022-01-28,170.350006,162.800003,165.710007,170.330002,179935700.0,170.113266
2022-01-31,175.000000,169.509995,170.160004,174.779999,115541600.0,174.557602

In [67]:
df.drop(['Adj Close'], axis = 1, inplace=True)
df = df.rename_axis('Date').reset_index()
df = df.round(2)

In [68]:
df.head()

        Date   High    Low   Open  Close       Volume
0 2019-01-02  39.71  38.56  38.72  39.48  148158800.0
1 2019-01-03  36.43  35.50  35.99  35.55  365248800.0
2 2019-01-04  37.14  35.95  36.13  37.06  234428400.0
3 2019-01-07  37.21  36.47  37.17  36.98  219111200.0
4 2019-01-08  37.96  37.13  37.39  37.69  164101200.0

In [70]:
df.to_csv('aapl.csv')